body {
font-family: "Arial";
font-size: 20px;
line-height: 30px;
width: 960px;
margin: 20px auto;
padding: 10px;}

h1{color: green;}
li{color: gray; line-height: 25px;}
h2{color: black; font-style: italic;}
